version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  spark:
    build:
      context: .
      dockerfile: Dockerfile.spark
    container_name: spark_streaming
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./src:/opt/spark/app/src
      - ./data:/opt/spark/app/data
      - ./sql:/opt/spark/app/sql
    command: >
      spark-submit
      --master ${SPARK_MASTER}
      /opt/spark/app/src/spark_streaming_to_postgres.py

volumes:
  postgres_data:
