services:
  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./logs/postgres:/var/log/postgresql   # New: logs folder
    command: >
      sh -c "mkdir -p /var/log/postgresql && 
             chown -R postgres:postgres /var/log/postgresql &&
             exec docker-entrypoint.sh postgres > /var/log/postgresql/postgres.log 2>&1"

  spark:
    build:
      context: .
      dockerfile: docker/Dockerfile.spark
    image: dem05/ecommerce-spark:1.0 
    container_name: spark_pipeline
    env_file:
      - .env
    environment:
      - SPARK_HISTORY_OPTS=-Dspark.history.fs.logDirectory=/opt/spark/app/logs/spark-events
    depends_on:
      - postgres
    ports:
      - "4040:4040"   # Spark Application UI with REST API
      - "18080:18080" # Spark History Server UI
    volumes:
      - ./src:/opt/spark/app/src
      - ./data:/opt/spark/app/data
      - ./sql:/opt/spark/app/sql
      - ./lib:/opt/spark/app/lib
      - ./checkpoint:/opt/spark/app/checkpoint 
      - ./logs/spark:/opt/spark/app/logs
      - ./logs/spark-events:/opt/spark/app/logs/spark-events 
    command: >
      sh -c "mkdir -p /opt/spark/app/logs &&
             exec ./startup.sh > /opt/spark/app/logs/spark_pipeline.log 2>&1"

  test:
    build:
      context: .
      dockerfile: docker/Dockerfile.spark
    image: dem05/ecommerce-spark:1.0
    container_name: test_runner
    env_file:
      - .env
    environment:
      RUN_INTEGRATION_TESTS: "true"
      PYTHONDONTWRITEBYTECODE: "1"
    depends_on:
      - postgres
      - spark
    volumes:
      - ./src:/opt/spark/app/src
      - ./tests:/opt/spark/app/tests
      - ./data:/opt/spark/app/data
      - ./lib:/opt/spark/app/lib
      - ./logs/tests:/opt/spark/app/logs/tests
    working_dir: /opt/spark/app
    command: >
      sh -c "mkdir -p /opt/spark/app/logs/tests &&
            sleep 25 &&
            pytest tests/ -v --tb=short --color=yes 2>&1 | tee /opt/spark/app/logs/tests/test_results.log"
    profiles:
      - test

volumes:
  postgres_data:
