services:
  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./logs/postgres:/var/log/postgresql   # New: logs folder
    command: >
      sh -c "mkdir -p /var/log/postgresql && 
             chown -R postgres:postgres /var/log/postgresql &&
             exec docker-entrypoint.sh postgres > /var/log/postgresql/postgres.log 2>&1"

  spark:
    build:
      context: .
      dockerfile: docker/Dockerfile.spark
    image: dem05/ecommerce-spark:1.0 
    container_name: spark_pipeline
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "4040:4040"   # Spark UI
    volumes:
      - ./src:/opt/spark/app/src
      - ./data:/opt/spark/app/data
      - ./sql:/opt/spark/app/sql
      - ./lib:/opt/spark/app/lib
      - ./logs/spark:/opt/spark/app/logs   # New: Spark logs
    command: >
      sh -c "mkdir -p /opt/spark/app/logs &&
             exec ./startup.sh > /opt/spark/app/logs/spark_pipeline.log 2>&1"

volumes:
  postgres_data:
